* {
  margin: 0;
}

.header {
  text-align: center;
  color: rgb(240, 228, 228);
  background-color: rgb(79, 76, 76);
  padding: 10px 0;
  margin-bottom: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.home {
  text-align: center;
  border: 1px solid rgb(230, 222, 222);
  border-radius: 2%;
  padding: 20px 10px;
  width: 300px;
  display: block;
  margin: 100px auto;
  background-color: rgb(240, 231, 231);
}
.home__title {
  font-weight: 600;
  font-family: cursive;
}
.home__signin {
  font-family: cursive;
}
input {
  text-align: left;
}
.In__name {
  font-weight: 900;
}
.In__2row {
  margin-top: 30px;
}
.In__label {
  font-weight: 600;
}
.In__show {
  padding-top: 20px;
  background-color: rgb(253, 251, 251);
  padding-bottom: 20px;
}
.Todo__default {
  padding-top: 30px;
  height: 130px;
}
.In__todo {
  background-color: #dbeedf;
  margin-bottom: 20px;
}
.todo__modal {
  display: block;
  margin: auto;
}
.todo__done {
  background-color: rgb(131, 247, 15) !important;
}
